.dashboard-container {
  flex-grow: 1;
  padding: 0 20px;
}

.dashboard {
  width: 100%;

  &__title {
    margin-bottom: 40px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.css-1oj2twp-MuiPagination-root {
  padding: 20px 0;
  margin: 0 auto;
}

.tb-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-delete, btn-edit {
  font-size: 18px;
  padding: unset;
}

.td-model {
  font-weight: 700;
}
