.preview-container {

  display: flex;
  justify-content: space-between;
}

.preview {
  margin-bottom: 20px;

}
.fix {
  position: relative;

}

.salesman-container {
  width: 20%;
  //position: fixed;
  //right: 20px;
}
