.search-form-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
}

.search-form {
  padding: 20px;
  min-height: 500px;
  background: #F4F4F4;
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }
}

.form-search-part {
  display: flex;
  flex-direction: column;
  gap: 20px;
}