ul {
  margin: 0 !important;
  padding: 0;
}

.navmenu {
  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    list-style-type: none;
    padding: 0 .5rem;
    cursor: pointer;
    .active  {
      color: tomato;
    }
  }
  a {
    transition: color 0.15s ease-in-out;
  }
  a:hover {
    color: rgb(255, 177, 163);
  }

}