.header {
  width: 100%;
  position: fixed;

  &__body {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }

  &__logo {

    &-red{
      color: tomato;
    }
  }

  &__tel {
    a {
        transition: color 0.15s ease-in-out;
    }
    a:hover {
        color: rgb(255, 177, 163);
    }
    a:active {
      color: tomato;
    }
  }
}

.header-admin {
  max-width: 100%;
  margin: 0 auto;

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--purple-color);
    color: white;
    padding: 1rem 2rem;
  }

  &__logo {
    cursor: pointer;
  }

}