.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--purple-color);
  color: white;
  padding: 1rem 2rem;
  margin-bottom: 1rem;

  &__logo {
    cursor: pointer;
  }
}